page-home {
	h1{
		text-align: center;
	}

  .counter {
    text-align: center;
    font-size: 33px;
    padding: 12rem 2rem;
    margin-top: 3rem;
    border: 4px solid #4b97d8;
    border-radius: 25rem;
    color: #4b97d8;
    font-weight: bold;
    text-align: center;
  }
}
